body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#header {
	display: flex;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1; /* TODO Solve this in HTML */
}

.dg.ac {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#state {
	display: block;
	width: 150px;
	text-align: left;
}

#info {
	display: flex;
	margin-right: 320px;
	margin-left: 10px;
	justify-content: center
}

.c>input[type=text] {
	color: white !important;
}

.dg .cr.string {
	border-left: 1px solid white !important;
}

.hidden {
	display: none;
}
